In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plts

In [ ]:
df = pd.read_csv("data/UCMF_raw.csv")
df.head()

,ID,Peso,Altura,IMC,Atendimento,DN,IDADE,Convenio,PULSOS,PA SISTOLICA,...,PPA,NORMAL X ANORMAL,B2,SOPRO,FC,HDA 1,HDA2,SEXO,MOTIVO1,MOTIVO2
0,1,5.0,51,19.0,11/05/06,30/03/06,0.12,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,112,Palpitacao,NaN,M,6 - Suspeita de cardiopatia,6 - Palpitação/taquicardia/arritmia
1,2,3.5,50,14.0,25/05/05,19/05/05,0.02,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,128,Dispneia,NaN,M,6 - Suspeita de cardiopatia,6 - Dispnéia
2,3,0.0,0,NaN,12/06/01,08/05/05,-4.05,SULA,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,88,Assintomático,NaN,M,2 - Check-up,NaN
3,4,8.1,65,19.0,15/10/09,21/04/09,0.50,NaN,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,92,Assintomático,NaN,M,5 - Parecer cardiológico,NaN
4,7,40.0,151,18.0,14/01/08,14/08/95,12.89,SAME,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,96,Dor precordial,NaN,M,5 - Parecer cardiológico,NaN

### Volume dos dados

In [ ]:
# Dimensões do dataset
print("Número de linhas (objetos):", df.shape[0])
print("Número de colunas (atributos):", df.shape[1])

Número de linhas (objetos): 12873
Número de colunas (atributos): 21

ID                    int64
Peso                float64
Altura                int64
IMC                 float64
Atendimento          object
DN                   object
IDADE               float64
Convenio             object
PULSOS               object
PA SISTOLICA        float64
PA DIASTOLICA       float64
PPA                  object
NORMAL X ANORMAL     object
B2                   object
SOPRO                object
FC                   object
HDA 1                object
HDA2                 object
SEXO                 object
MOTIVO1              object
MOTIVO2              object
dtype: object