In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plts
import os

In [29]:
from dotenv import load_dotenv
load_dotenv()
CSV_PATH = os.getenv("CSV_PATH")

In [30]:
df = pd.read_csv(CSV_PATH)
df.head()

,ID,Peso,Altura,IMC,Atendimento,DN,IDADE,Convenio,PULSOS,PA SISTOLICA,...,PPA,NORMAL X ANORMAL,B2,SOPRO,FC,HDA 1,HDA2,SEXO,MOTIVO1,MOTIVO2
0,1,5.0,51,19.0,11/05/06,30/03/06,0.12,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,112,Palpitacao,NaN,M,6 - Suspeita de cardiopatia,6 - Palpitação/taquicardia/arritmia
1,2,3.5,50,14.0,25/05/05,19/05/05,0.02,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,128,Dispneia,NaN,M,6 - Suspeita de cardiopatia,6 - Dispnéia
2,3,0.0,0,NaN,12/06/01,08/05/05,-4.05,SULA,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,88,Assintomático,NaN,M,2 - Check-up,NaN
3,4,8.1,65,19.0,15/10/09,21/04/09,0.50,NaN,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,92,Assintomático,NaN,M,5 - Parecer cardiológico,NaN
4,7,40.0,151,18.0,14/01/08,14/08/95,12.89,SAME,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,96,Dor precordial,NaN,M,5 - Parecer cardiológico,NaN

In [31]:
df_selecionado = df.iloc[:, 7:14]

df_selecionado.head()

,Convenio,PULSOS,PA SISTOLICA,PA DIASTOLICA,PPA,NORMAL X ANORMAL,B2
0,GS,Normais,NaN,NaN,Não Calculado,Anormal,Normal
1,GS,Normais,NaN,NaN,Não Calculado,Anormal,Normal
2,SULA,Normais,NaN,NaN,Não Calculado,Anormal,Normal
3,NaN,Normais,NaN,NaN,Não Calculado,Anormal,Normal
4,SAME,Normais,NaN,NaN,Não Calculado,Anormal,Normal

- Convênio não parece ser uma variável muito importante, ou seja vamos excluir ela

In [32]:
df_selecionado_linha = df_selecionado.drop(['Convenio'], axis=1)

df_selecionado_linha.head()

,PULSOS,PA SISTOLICA,PA DIASTOLICA,PPA,NORMAL X ANORMAL,B2
0,Normais,NaN,NaN,Não Calculado,Anormal,Normal
1,Normais,NaN,NaN,Não Calculado,Anormal,Normal
2,Normais,NaN,NaN,Não Calculado,Anormal,Normal
3,Normais,NaN,NaN,Não Calculado,Anormal,Normal
4,Normais,NaN,NaN,Não Calculado,Anormal,Normal

In [33]:
print("Valores únicos da variável PULSOS\n")
print(df_selecionado_linha['PULSOS'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PULSOS: {df_selecionado_linha['PULSOS'].isna().sum()}")

Valores únicos da variável PULSOS

PULSOS
Normais                11531
Amplos                    52
Femorais diminuidos       39
Outro                     36
Diminuídos                18
NORMAIS                    2
AMPLOS                     1
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PULSOS: 1194

In [34]:
bins_pa_sistolica = pd.cut(df_selecionado_linha['PA SISTOLICA'], bins=5)
print(bins_pa_sistolica.value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PA SISTOLICA: {df_selecionado_linha['PA SISTOLICA'].isna().sum()}")

PA SISTOLICA
(59.07, 246.0]    5141
(804.0, 990.0]       1
(618.0, 804.0]       1
(432.0, 618.0]       0
(246.0, 432.0]       0
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PA SISTOLICA: 7730

In [35]:
bins_pa_diastolica = pd.cut(df_selecionado_linha['PA DIASTOLICA'], bins=5)
print(bins_pa_diastolica.value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PA DIASTOLICA: {df_selecionado_linha['PA DIASTOLICA'].isna().sum()}")

PA DIASTOLICA
(51.6, 74.4]     3993
(28.8, 51.6]      670
(74.4, 97.2]      447
(97.2, 120.0]      21
(5.886, 28.8]       2
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PA DIASTOLICA: 7740

In [36]:
print("Valores únicos da variável PPA\n")
print(df_selecionado_linha['PPA'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PPA: {df_selecionado_linha['PPA'].isna().sum()}")

Valores únicos da variável PPA

PPA
Não Calculado          9081
Normal                 1790
#VALUE!                1496
HAS-2 PAS                73
Pre-Hipertensão PAD      73
Pre-Hipertensão PAS      48
HAS-1 PAS                48
HAS-1 PAD                26
HAS-2 PAD                21
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PPA: 217

In [37]:
print("Valores únicos da variável \n")
print(df_selecionado_linha['NORMAL X ANORMAL'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável NORMAL X ANORMAL: {df_selecionado_linha['NORMAL X ANORMAL'].isna().sum()}")

Valores únicos da variável

NORMAL X ANORMAL
Normal     6744
Anormal    4959
anormal       1
Normais       1
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável NORMAL X ANORMAL: 1168

In [38]:
print("Valores únicos da variável \n")
print(df_selecionado_linha['B2'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável B2: {df_selecionado_linha['B2'].isna().sum()}")

Valores únicos da variável

B2
Normal           11098
Hiperfonética      295
Desdob fixo        149
Única               77
Outro               76
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável B2: 1178

- Podemos ver que as variáveis PA DIASTOLICA E PA SISTOLICA elas tem muitos dados faltantes. A variável PPA é derivada delas, podemos então manter PPA e dropar as suas antecedentes

In [39]:
df_selecionado_linha2 = df_selecionado_linha.drop(['PA SISTOLICA', 'PA DIASTOLICA'], axis=1)
df_selecionado_linha2.head()

    PULSOS            PPA NORMAL X ANORMAL      B2
0  Normais  Não Calculado          Anormal  Normal
1  Normais  Não Calculado          Anormal  Normal
2  Normais  Não Calculado          Anormal  Normal
3  Normais  Não Calculado          Anormal  Normal
4  Normais  Não Calculado          Anormal  Normal

- Na exploração de dados, pudemos ver que as variáveis PULSOS e NORMAL X ANORMAL tem valores que tem o mesmo valor, mas estão armazenados de forma diferente. Ex.: Normal e Normais na variável NORMAL X ANORMAL.

- Nesse caso, vamos precisar padronizar para um valor só.

### Padronização da variável PULSOS

In [40]:
df_selecionado_linha2['PULSOS'].value_counts()

PULSOS
Normais                11531
Amplos                    52
Femorais diminuidos       39
Outro                     36
Diminuídos                18
NORMAIS                    2
AMPLOS                     1
Name: count, dtype: int64

In [41]:
valores_anormais = [
    'Amplos', 'Femorais diminuidos', 'Outro', 'Diminuídos', 'AMPLOS'
]

df_selecionado_linha2['PULSOS'] = df_selecionado_linha2['PULSOS'].apply(
    lambda x: 'Desconhecido' if pd.isna(x) else 'Anormais' if x in valores_anormais else 'Normais'
)

In [42]:
df_selecionado_linha2['PULSOS'].value_counts()

PULSOS
Normais         11551
Desconhecido     1194
Anormais          128
Name: count, dtype: int64

### Padronização da variável NORMAL X ANORMAL

In [43]:
df_selecionado_linha2['NORMAL X ANORMAL'].value_counts()

NORMAL X ANORMAL
Normal     6744
Anormal    4959
anormal       1
Normais       1
Name: count, dtype: int64

In [44]:
valores_anormais_normal = ['Anormal', 'anormal']

df_selecionado_linha2['NORMAL X ANORMAL'] = df_selecionado_linha2['NORMAL X ANORMAL'].apply(
    lambda x: 'Desconhecido' if pd.isna(x) else 'Anormal' if x in valores_anormais_normal else 'Normal'
)

In [45]:
df_selecionado_linha2['NORMAL X ANORMAL'].value_counts()

NORMAL X ANORMAL
Normal          6745
Anormal         4960
Desconhecido    1168
Name: count, dtype: int64

### Padronização da variável PPA

In [46]:
df_selecionado_linha2['PPA'].value_counts()

PPA
Não Calculado          9081
Normal                 1790
#VALUE!                1496
HAS-2 PAS                73
Pre-Hipertensão PAD      73
Pre-Hipertensão PAS      48
HAS-1 PAS                48
HAS-1 PAD                26
HAS-2 PAD                21
Name: count, dtype: int64

In [47]:
valores_has1 = ['HAS-1 PAS', 'HAS-1 PAD']
valores_has2 = ['HAS-2 PAS', 'HAS-2 PAD']
valores_pre_hipertensao = ['Pre-Hipertensão PAD', 'Pre-Hipertensão PAS']
valores_desconhecidos = ['Não Calculado', '#VALUE!']


df_selecionado_linha2['PPA'] = df_selecionado_linha2['PPA'].apply(
    lambda x: 'Desconhecido' if pd.isna(x) or x in valores_desconhecidos 
                else 'HAS-1' if x in valores_has1 
                else 'HAS-2' if x in valores_has2
                else 'Pré Hipertensão' if x in valores_pre_hipertensao
                else 'Normal'
)

In [48]:
df_selecionado_linha2['PPA'].value_counts()

PPA
Desconhecido       10794
Normal              1790
Pré Hipertensão      121
HAS-2                 94
HAS-1                 74
Name: count, dtype: int64

### Padronização da variável B2

In [49]:
df_selecionado_linha2['B2'].value_counts()

B2
Normal           11098
Hiperfonética      295
Desdob fixo        149
Única               77
Outro               76
Name: count, dtype: int64

In [50]:
valores_anormais = [
    'Hiperfonética', 'Desdob fixo', 'Outro', 'Única'
]

df_selecionado_linha2['B2'] = df_selecionado_linha2['B2'].apply(
    lambda x: 'Desconhecido' if pd.isna(x) else 'Anormais' if x in valores_anormais else 'Normal'
)

In [51]:
df_selecionado_linha2['B2'].value_counts()

B2
Normal          11098
Desconhecido     1178
Anormais          597
Name: count, dtype: int64

## Dataframe limpo das variáveis importantes

In [54]:
df_selecionado_linha2.head()

    PULSOS           PPA NORMAL X ANORMAL      B2
0  Normais  Desconhecido          Anormal  Normal
1  Normais  Desconhecido          Anormal  Normal
2  Normais  Desconhecido          Anormal  Normal
3  Normais  Desconhecido          Anormal  Normal
4  Normais  Desconhecido          Anormal  Normal

In [55]:
df_selecionado_linha2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12873 entries, 0 to 12872
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PULSOS            12873 non-null  object
 1   PPA               12873 non-null  object
 2   NORMAL X ANORMAL  12873 non-null  object
 3   B2                12873 non-null  object
dtypes: object(4)
memory usage: 402.4+ KB

In [56]:
df_selecionado_linha2.describe(include='all')

         PULSOS           PPA NORMAL X ANORMAL      B2
count     12873         12873            12873   12873
unique        3             5                3       3
top     Normais  Desconhecido           Normal  Normal
freq      11551         10794             6745   11098

In [57]:
# Verificar todas as variáveis categóricas após padronização
for coluna in df_selecionado_linha2.columns:
    print(f"=== {coluna} ===")
    print(df_selecionado_linha2[coluna].value_counts())
    print(f"Valores nulos: {df_selecionado_linha2[coluna].isna().sum()}")
    print("-" * 50)

=== PULSOS ===
PULSOS
Normais         11551
Desconhecido     1194
Anormais          128
Name: count, dtype: int64
Valores nulos: 0
--------------------------------------------------
=== PPA ===
PPA
Desconhecido       10794
Normal              1790
Pré Hipertensão      121
HAS-2                 94
HAS-1                 74
Name: count, dtype: int64
Valores nulos: 0
--------------------------------------------------
=== NORMAL X ANORMAL ===
NORMAL X ANORMAL
Normal          6745
Anormal         4960
Desconhecido    1168
Name: count, dtype: int64
Valores nulos: 0
--------------------------------------------------
=== B2 ===
B2
Normal          11098
Desconhecido     1178
Anormais          597
Name: count, dtype: int64
Valores nulos: 0
--------------------------------------------------

In [59]:
import os
output_path = '../../data/clean/dados_limpos_var8-14.csv'

os.makedirs(os.path.dirname(output_path), exist_ok=True)

df_selecionado_linha2.to_csv(output_path, index=False, encoding='utf-8')
print(f"DataFrame salvo em: {output_path}")

DataFrame salvo em: ../../data/clean/dados_limpos_var8-14.csv