In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plts
import os

In [44]:
from dotenv import load_dotenv
load_dotenv()
CSV_PATH = os.getenv("CSV_PATH")

In [45]:
df = pd.read_csv(CSV_PATH)
df.head()

,ID,Peso,Altura,IMC,Atendimento,DN,IDADE,Convenio,PULSOS,PA SISTOLICA,...,PPA,NORMAL X ANORMAL,B2,SOPRO,FC,HDA 1,HDA2,SEXO,MOTIVO1,MOTIVO2
0,1,5.0,51,19.0,11/05/06,30/03/06,0.12,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,112,Palpitacao,NaN,M,6 - Suspeita de cardiopatia,6 - Palpitação/taquicardia/arritmia
1,2,3.5,50,14.0,25/05/05,19/05/05,0.02,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,128,Dispneia,NaN,M,6 - Suspeita de cardiopatia,6 - Dispnéia
2,3,0.0,0,NaN,12/06/01,08/05/05,-4.05,SULA,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,88,Assintomático,NaN,M,2 - Check-up,NaN
3,4,8.1,65,19.0,15/10/09,21/04/09,0.50,NaN,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,92,Assintomático,NaN,M,5 - Parecer cardiológico,NaN
4,7,40.0,151,18.0,14/01/08,14/08/95,12.89,SAME,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,96,Dor precordial,NaN,M,5 - Parecer cardiológico,NaN

In [46]:
df_selecionado = df.iloc[:, 7:14]

df_selecionado.head()

,Convenio,PULSOS,PA SISTOLICA,PA DIASTOLICA,PPA,NORMAL X ANORMAL,B2
0,GS,Normais,NaN,NaN,Não Calculado,Anormal,Normal
1,GS,Normais,NaN,NaN,Não Calculado,Anormal,Normal
2,SULA,Normais,NaN,NaN,Não Calculado,Anormal,Normal
3,NaN,Normais,NaN,NaN,Não Calculado,Anormal,Normal
4,SAME,Normais,NaN,NaN,Não Calculado,Anormal,Normal

- Convênio não parece ser uma variável muito importante, ou seja vamos excluir ela

In [47]:
df_selecionado_linha = df_selecionado.drop(['Convenio'], axis=1)

df_selecionado_linha.head()

,PULSOS,PA SISTOLICA,PA DIASTOLICA,PPA,NORMAL X ANORMAL,B2
0,Normais,NaN,NaN,Não Calculado,Anormal,Normal
1,Normais,NaN,NaN,Não Calculado,Anormal,Normal
2,Normais,NaN,NaN,Não Calculado,Anormal,Normal
3,Normais,NaN,NaN,Não Calculado,Anormal,Normal
4,Normais,NaN,NaN,Não Calculado,Anormal,Normal

In [59]:
print("Valores únicos da variável PULSOS\n")
print(df_selecionado_linha['PULSOS'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PULSOS: {df_selecionado_linha['PULSOS'].isnull().sum()}")

Valores únicos da variável PULSOS

PULSOS
Normais                11531
Amplos                    52
Femorais diminuidos       39
Outro                     36
Diminuídos                18
NORMAIS                    2
AMPLOS                     1
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PULSOS: 1194

In [60]:
bins_pa_sistolica = pd.cut(df_selecionado_linha['PA SISTOLICA'], bins=5)
print(bins_pa_sistolica.value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PA SISTOLICA: {df_selecionado_linha['PA SISTOLICA'].isnull().sum()}")

PA SISTOLICA
(59.07, 246.0]    5141
(804.0, 990.0]       1
(618.0, 804.0]       1
(432.0, 618.0]       0
(246.0, 432.0]       0
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PA SISTOLICA: 7730

In [61]:
bins_pa_diastolica = pd.cut(df_selecionado_linha['PA DIASTOLICA'], bins=5)
print(bins_pa_diastolica.value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PA DIASTOLICA: {df_selecionado_linha['PA DIASTOLICA'].isnull().sum()}")

PA DIASTOLICA
(51.6, 74.4]     3993
(28.8, 51.6]      670
(74.4, 97.2]      447
(97.2, 120.0]      21
(5.886, 28.8]       2
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PA DIASTOLICA: 7740

In [62]:
print("Valores únicos da variável PPA\n")
print(df_selecionado_linha['PPA'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável PPA: {df_selecionado_linha['PPA'].isnull().sum()}")

Valores únicos da variável PPA

PPA
Não Calculado          9081
Normal                 1790
#VALUE!                1496
HAS-2 PAS                73
Pre-Hipertensão PAD      73
Pre-Hipertensão PAS      48
HAS-1 PAS                48
HAS-1 PAD                26
HAS-2 PAD                21
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável PPA: 217

In [63]:
print("Valores únicos da variável \n")
print(df_selecionado_linha['NORMAL X ANORMAL'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável NORMAL X ANORMAL: {df_selecionado_linha['NORMAL X ANORMAL'].isnull().sum()}")

Valores únicos da variável

NORMAL X ANORMAL
Normal     6744
Anormal    4959
anormal       1
Normais       1
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável NORMAL X ANORMAL: 1168

In [64]:
print("Valores únicos da variável \n")
print(df_selecionado_linha['B2'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável B2: {df_selecionado_linha['B2'].isnull().sum()}")

Valores únicos da variável

B2
Normal           11098
Hiperfonética      295
Desdob fixo        149
Única               77
Outro               76
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável B2: 1178