In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
from dotenv import load_dotenv
load_dotenv()
CSV_PATH = os.getenv("CSV_PATH")

In [23]:
df = pd.read_csv(CSV_PATH)
df.head()

,ID,Peso,Altura,IMC,Atendimento,DN,IDADE,Convenio,PULSOS,PA SISTOLICA,...,PPA,NORMAL X ANORMAL,B2,SOPRO,FC,HDA 1,HDA2,SEXO,MOTIVO1,MOTIVO2
0,1,5.0,51,19.0,11/05/06,30/03/06,0.12,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,112,Palpitacao,NaN,M,6 - Suspeita de cardiopatia,6 - Palpitação/taquicardia/arritmia
1,2,3.5,50,14.0,25/05/05,19/05/05,0.02,GS,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,128,Dispneia,NaN,M,6 - Suspeita de cardiopatia,6 - Dispnéia
2,3,0.0,0,NaN,12/06/01,08/05/05,-4.05,SULA,Normais,NaN,...,Não Calculado,Anormal,Normal,Sistólico,88,Assintomático,NaN,M,2 - Check-up,NaN
3,4,8.1,65,19.0,15/10/09,21/04/09,0.50,NaN,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,92,Assintomático,NaN,M,5 - Parecer cardiológico,NaN
4,7,40.0,151,18.0,14/01/08,14/08/95,12.89,SAME,Normais,NaN,...,Não Calculado,Anormal,Normal,ausente,96,Dor precordial,NaN,M,5 - Parecer cardiológico,NaN

In [24]:
df_selecionado = df.iloc[:, 14:21]

df_selecionado.head()

,SOPRO,FC,HDA 1,HDA2,SEXO,MOTIVO1,MOTIVO2
0,Sistólico,112,Palpitacao,NaN,M,6 - Suspeita de cardiopatia,6 - Palpitação/taquicardia/arritmia
1,ausente,128,Dispneia,NaN,M,6 - Suspeita de cardiopatia,6 - Dispnéia
2,Sistólico,88,Assintomático,NaN,M,2 - Check-up,NaN
3,ausente,92,Assintomático,NaN,M,5 - Parecer cardiológico,NaN
4,ausente,96,Dor precordial,NaN,M,5 - Parecer cardiológico,NaN

### Variável SOPRO

In [25]:
print("Valores únicos da variável SOPRO\n")
print(df_selecionado['SOPRO'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável SOPRO: {df_selecionado['SOPRO'].isna().sum()}")

Valores únicos da variável SOPRO

SOPRO
ausente                   7275
Sistólico                 3648
sistólico                  723
contínuo                    28
Contínuo                    20
diastólico                   9
Sistolico e diastólico       3
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável SOPRO: 1167

### Variável FC

In [26]:
df_selecionado['FC'] = pd.to_numeric(df_selecionado['FC'], errors='coerce')


bins_fc = pd.cut(df_selecionado['FC'], bins=5)
print(bins_fc.value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável FC: {df_selecionado['FC'].isna().sum()}")

FC
(-1.28, 1864.0]     10988
(7432.0, 9288.0]        1
(1864.0, 3720.0]        0
(3720.0, 5576.0]        0
(5576.0, 7432.0]        0
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável FC: 1884

### Variável HDA 1

In [27]:
print("Valores únicos da variável HDA 1\n")
print(df_selecionado['HDA 1'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável HDA 1: {df_selecionado['HDA 1'].isna().sum()}")

Valores únicos da variável HDA 1

HDA 1
Assintomático      6561
Dispneia            541
Dor precordial      508
Palpitacao          365
Cianose             260
Desmaio/tontura     157
Outro               124
Ganho de peso        87
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável HDA 1: 4270

### Variável HDA2

In [28]:
print("Valores únicos da variável HDA2\n")
print(df_selecionado['HDA2'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável HDA2: {df_selecionado['HDA2'].isna().sum()}")

Valores únicos da variável HDA2

HDA2
Dispneia           83
Palpitacao         83
Dor precordial     65
Cianose            65
Desmaio/tontura    50
Outro              41
Ganho de peso      19
Assintomático       1
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável HDA2: 12466

### Variável SEXO

In [29]:
print("Valores únicos da variável SEXO\n")
print(df_selecionado['SEXO'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável SEXO: {df_selecionado['SEXO'].isna().sum()}")

Valores únicos da variável SEXO

SEXO
M                6065
F                4477
Indeterminado    1417
Masculino         584
Feminino          247
masculino          79
Name: count, dtype: int64
----------------------------------------

Quantidade valores nulos na variável SEXO: 4

### Variável MOTIVO1

print("Valores únicos da variável HDA2\n")
print(df_selecionado['HDA2'].value_counts())
print('-'*40)
print(f"\nQuantidade valores nulos na variável HDA2: {df_selecionado['HDA2'].isna().sum()}")

### Variável MOTIVO2